h1,
h2,
h3,
p,
ol,
ul,
body {
margin: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1292px) {
    .container {
        max-width: 1292px;
    }
}

.color {
    background-color: red;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 10px; 
}

.gallery__item {
    height: 200px;
    background-color: beige;
}
